.content {
	margin-left: 60px;
	min-height: 100vh;
	width: calc(100vw - 60px);
	padding: 70px 50px 50px;

	&--subnavigation {
		margin-left: 280px;
		width: calc(100vw - 280px);
	}

	&__inner {
		padding-left: 10px;
		display: block;

		h1 {
			margin-bottom: 40px;
		}
	}

	&__addLine {
		padding: 20px 15px;
		text-align: center;
	
		input {
			width: 40px;
		}
	
		> * {
			display: inline-block;
			float: right;
			width: auto;
			margin: 0 0 0 10px;
		}
	}
}