.content {
    padding-top: 121px;
    padding-left: 280px;
    box-sizing: border-box;
    width: 100%;

    &__inner {
        padding: 50px;

        table {
            min-width: 100%;
        }
    }
}