h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}



h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-primary;
    letter-spacing: .05em;
    margin-bottom: 25px;
}

p {
    font-size: 14px;
    line-height: 1.65;
    color: $color-text;
    margin-bottom: 25px;
    width: 100%;
    max-width: 1000px;
}